<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.name %>
      </h1>
    </section>
      <h2>
        <form accept-charset="UTF-8" action="/users" method="get">
          <div style="margin:0;padding:0">
            <input name="value" type="text" value="">
            <button type="submit">Search</button>
          </div>
        </form>
      </h2>
  </aside>
</div>

